<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ .Title }}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="link1">Список пользователей</a></li>
            <li><a href="link2">Добавить друга</a></li>
            <li>
                <small>{{ .UserName }}</small>
                <form method="post" action="/logout">
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <div role="main">
	    <h1></h1>
        <form method="post" action="register" enctype="x-www-form-urlencoded" id="form_post" novalidate="">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <label for="text">Text</label>
            <input type="text" name="text" id="text">
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>