<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ .Title }}</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" action="register" enctype="x-www-form-urlencoded" id="form_post" novalidate="">
        <label for="username">Username</label>
        <input type="text" name="username" id="username"></br>
        <label for="first_name">First name</label>
        <input type="text" name="first_name" id="first_name"></br>
        <label for="second_name">Second name</label>
        <input type="text" name="second_name" id="second_name"></br>
        <label for="gender">Gender</label>
        <select type="text" name="gender" id="gender">
            <option selected>M</option>
            <option>F</option>
        </select></br>
        <label for="birthdate">Birthdate</label>
        <input type="date" name="birthdate" id="birthdate"></br>
        <label for="city">City</label>
        <input type="text" name="city" id="city"></br>
        <label for="interests">Interests</label>
        <input type="text" name="interests" id="interests"></br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"></br>
        <label for="repeat_password">Repeat password</label>
        <input type="password" name="repeat_password" id="repeat_password"></br>
        <input type="submit" value="Register">
    </form>
</body>
</html>