<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ .Title }}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="link1">UNDER CONSTRUCTION</a></li>
            <li>
                <small>{{ .SelfUserName }}</small>
                <form method="post" action="/logout">
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <div role="main">
	    <h1>{{ .UserName }} profile:</h1>
        <div>Name: {{ .Name }}</div>
        <div>SurName: {{ .SurName }}</div>
        <div>Age: {{ .Age }}</div>
        <div>BirthDate: {{ .BirthDate.Format "02 Jan" }}</div>
        <div>Gender: {{ .Gender }}</div>
        <div>City: {{ .City }}</div>
        <div>Interests:
            {{range $i := .Interests}}
                {{$i}}
            {{end}}
        </div>
        <div>Friends:
            {{range $f := .Friends}}
                {{$f}}
            {{end}}
        </div>
        <div>
            <form method="post" action="/user/{{ .UserName }}/add_to_friends">
                <button type="submit">Add to friends</button>
            </form>
        </div>
    </div>
</body>
</html>