<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ .Title }}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/search/user">Search user</a></li>
            <li>
                <small>{{ .SelfUserName }}</small>
                <form method="post" action="/logout">
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
	<div role="main">
		<h1><a href="/user/{{ .UserName }}/profile">{{ .UserName }}</a> posts:</h1>
		<div>
            {{range .Posts}}
                <div>{{ .Header }}}</div>
                <div>{{ .Updated }}</div>
                <div>{{ .Text }}</div>
		    {{else}}
			    <div>no posts</div>
            {{end}}
        </div>
	</div>
</body>
</html>