<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{.Title}}</title>
    <script>
        window.addEventListener("load", function(evt) {
            var output = document.getElementById("output");
            var input = document.getElementById("input");
            var ws;
            if (!ws) {
                ws = new WebSocket("{{.Addr}}",["{{.SecureProtocol}}", "{{.UserToken}}"]);
            }

            var updateChat = function(message) {
                var msg = JSON.parse(message);
                var d = document.createElement("div");
                d.innerHTML = '<div><b>'+msg.user+'</b>: '+msg.text+'</div>';
                output.appendChild(d);
                output.scroll(0, output.scrollHeight);
            };

            ws.onopen = function(evt) {
                ws.send("{{.UserToken}}");
            }
            ws.onclose = function(evt) {
                ws = null;
            }
            ws.onmessage = function(evt) {
                updateChat(evt.data);
            }
            ws.onerror = function(evt) {
                console.log("ERROR: " + evt.data);
            }

            document.getElementById("send").onclick = function(evt) {
                if (!ws) {
                    return false;
                }
                ws.send(input.value);
                return false;
            };
        });
    </script>
</head>
<body>
    <nav>
        <ul>
            <li>
                <form method="post" action="/logout">
                    <label for="logout">
                        <a href="/user/{{.SelfUserName}}/profile">{{.SelfUserName}}</a>
                    </label>
                    <button type="submit" id="logout">Logout</button>
                </form>
            </li>
            <li><a href="/user/{{.SelfUserName}}">Home</a></li>
            <li><a href="/feed">Feed</a></li>
            <li><a href="/search/user">Search user</a></li>
            <li><a href="/post/edit">New post</a></li>
        </ul>
    </nav>
    <h1>{{.SelfUserName}}</h1>
    <table>
        <tr>
            <td valign="top" width="50%">
                <form>
                    <p>
                        <input id="input" type="text" value="msg">
                        <button id="send">Send</button>
                    </p>
                </form>
            </td>
            <td valign="top" width="50%">
                <div id="output" style="max-height: 70vh;overflow-y: scroll;"></div>
            </td>
        </tr>
    </table>
</body>
</html>