<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{.Title}}</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <form method="post" action="/logout">
                    <label for="logout">
                        <a href="/user/{{.SelfUserName}}/profile">{{.SelfUserName}}</a>
                    </label>
                    <button type="submit" id="logout">Logout</button>
                </form>
            </li>
            <li><a href="/user/{{.SelfUserName}}">Home</a></li>
            <li><a href="/feed">Feed</a></li>
            <li><a href="/search/user">Search user</a></li>
        </ul>
    </nav>
    <div role="main">
	    <h1></h1>
        <form method="post" action="/post/edit" enctype="x-www-form-urlencoded" id="form_post" novalidate="">
            <div>
                <label for="post_name">Header</label>
                <input type="text" name="post_name" id="post_name">
            </div>
            <div>
                <label for="text">Text</label>
                <input type="text" name="text" id="text">
            </div>
            <div>
                <input type="submit" value="Save">
            </div>
            <input type="hidden" id="username" name="username" value="{{.SelfUserName}}">
        </form>
    </div>
</body>
</html>